<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body {
            background-color: azure;
        }

        .el-main,
        .el-footer {
            margin: auto;
            text-align: center;
        }

        .el-footer {
            position: fixed;
            bottom: 10px;
        }

        #clockCanvas {
            margin-top: 10%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-main>
                <el-row>
                    <el-select v-model="during" placeholder="请设置时间">
                        <el-option v-for="item in times" :key="item.value" :label="item.label" :value="item.value">
                            <span style="float: left">{{ item.label }}</span>
                        </el-option>
                    </el-select>

                </el-row>
                <canvas id="clockCanvas" width="200" height="200"> </canvas>
            </el-main>
            <el-footer>
                <el-row>
                    <el-button size="medium" type="primary" @click="workStart">开始工作</el-button>
                    <el-button size="medium" type="primary" @click="endstart">结束工作</el-button>
                    <el-button size="medium" type="primary">开始休息</el-button>
                    <el-button size="medium" type="primary">结束休息</el-button>
                </el-row>
            </el-footer>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./render/renderer.js"></script>

</html>